{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center" style="font-size:30px; color: red"><b><i><u>NOTES</u></i></b></h1>
    <h1 align="center" style="font-size:20px;"><b><i><u>Add your notes:</u></i></b></h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary" style="background-color: aqua; color:black">Add Note</button>
      </div>
    </form>
    {% endblock %}